:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

main {
  background-color: var(--dark-blue);
  width: 50%;
  border-radius: 5px;
}

.star-icon img {
  margin: 20px;
  width: 40px;
  border-radius: 50%;
  border: 10px solid var(--very-dark-blue);
  background-color: var(--very-dark-blue);
}

h1 {
  margin-left: 20px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
}

p {
  color: var(--light-grey);
  font-size: 15px;
  margin-left: 20px;
}

footer { 
  font-size: 11px; 
  text-align: center; 
}

footer a { 
  color: hsl(228, 45%, 44%); 
}