:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.star-icon {
  background-color: var(--dark-blue);
  padding: 20px;
  border-radius: 30px;
}

h1 {
  color: var(--white);
  font-size: 15px;
}

p {
  color: var(--light-grey);
  font-size: 15px;
  padding: 20px 0;
  font-weight: 400;
}

.rating-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}

.select-btn {
  display: flex;
  flex-wrap: nowrap;
}

.btn {
  cursor: pointer;
  margin-left: 10px;
  background-color: var(--medium-grey);
  color: var(--dark-blue);
  text-align: center;
  height: 6.2vh;
  width: 14.3vw;
  border-radius: 30px;
  border: none;
}

.btn:hover {
  background-color: var(--medium-grey);
  color: var(--white);
}

.btn:focus {
  background-color: var(--orange);
  color: var(--white);
}

.submit button {
  cursor: pointer;
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
  font-weight: 700;
  border: none;
  align-self: center;
  justify-self: center;
  width: 80vw;
  height: 40px;
  border-radius: 20px;
  margin-left: 10px;
}

.submit button:focus {
  background-color: var(--white);
  color: var(--orange);
}

.submit-page {
  background-color: var(--dark-blue);
  width: 90vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: auto auto;
  border-radius: 20px;
  gap: 13px;
  display: none;
}

footer { 
  font-size: 11px; 
  text-align: center; 
}

footer a { 
  color: hsl(228, 45%, 44%); 
}