:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1, h2 {
  color: #fff;
}

p {
  line-height: 1.8;
  color: var(--light-grey);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

ul, li, button {
  font-family: inherit;
  font-size: 1rem;
}

button {
  user-select: none;
  cursor: pointer;
}