:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.star-icon {
  background-color: var(--dark-blue);
  padding: 20px;
  border-radius: 30px;
}

h1 {
  color: var(--white);
  font-size: 15px;
}

p {
  color: var(--light-grey);
  font-size: 15px;
  padding: 20px 0;
  font-weight: 400;
}

footer { 
  font-size: 11px; 
  text-align: center; 
}

footer a { 
  color: hsl(228, 45%, 44%); 
}